<template>
  <div id="add-contact">
    <h1>AÑADIR CONTACTO</h1>
    <p>
      Nombre
      <input
        type="text"
        required
        title="Nombre"
        class="input-name-add"
        v-model="contact.name"
        placeholder="Ingrese Nombre"
      />
    </p>

    <p>
      Apellido
      <input
        type="text"
        required
        title="Apellido"
        class="input-surname-add"
        v-model="contact.surname"
        placeholder="Ingrese Apellido"
      />
    </p>

    <p>
      Telefono
      <input
        type="text"
        required
        title="Telefono"
        class="input-phone-add"
        v-model="contact.phoneNumber"
        placeholder="Ingrese Telefono"
      />
    </p>

    <p>
      Correo
      <input
        type="email"
        required
        title="Correo"
        class="input-email-add"
        v-model="contact.email"
        placeholder="Ingrese Correo"
      />
    </p>

    <button class="btn-save-add" @click="saveClickAdd">Guardar</button>
    <button class="btn-back-add" @click="backClickAdd">Atras</button>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
export default {
  name: "AddContact",
  data() {
    return {
      contact: {
        name: null,
        surname: null,
        phoneNumber: null,
        email: null
      }
    };
  },
  methods: {
    saveClickAdd() {
      this.contact.id = uuidv4();

      console.log("Nombre: ", this.contact.inputNameAdd);
      
      this.$emit("saveClickAddEvent", this.contact);
      this.name = "",
      this.surname = "",
      this.phoneNumber = "",
      this.email = ""
    },

    backClickAdd() {
      this.$emit("backClickAddEvent");
      this.name = "",
      this.surname = "",
      this.phoneNumber = "",
      this.email = ""
    }
  }
};
</script>

<style scoped>
#add-contact {
  padding: 0.7rem 0 0 0;
  margin-bottom: 2rem;
  width: 50%;
  margin: 0 auto;
  background-color: #D5BAE8;
  border-radius: 1rem;
}

button {
  margin: 2rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 160px;
  background-color: #BD80E8;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
button:hover {
  background-color: rgb(192, 159, 216);
}

h1{
  padding-bottom: 0.8rem;
}
</style>