<template>
  <div class="contact-item">
    <div class="name-div">
      <a @click="seeContact" class="full-name">{{fullName}}</a>
    </div>
    <div class="buttons">
      <a @click="editContact" id="edit"><img src="../assets/edit.png" alt="" /></a>
      <a @click="deleteContact" id="delete"><img src="../assets/delete.png" alt=""></a>
    </div>
  </div>
</template>

<script>
/* componente ContactItem */
export default {
  name: "ContactItem",
  props: {
    contact: {
      type: Object
    }
  },
  methods: {
    emitMethod(methodType) {
      this.$emit(methodType, this.contact.id);
    },
    seeContact() {
      this.emitMethod("seeContact");
    },
    editContact() {
      this.emitMethod("editContact");
    },
    deleteContact() {
      this.emitMethod("deleteContact");
    }
  },
  computed: {
    fullName: function() {
      return `${this.contact.name} ${this.contact.surname}`;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only 
"ámbito "atributo para limitar CSS a este componente solamente /  -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  /* color: #ffffff; */
  cursor: pointer;
  margin-right: 2rem;
  text-align: left;
}
img {
  width: 30px;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.full-name {
  text-align: left;
  float: left;
}
.buttons {
  text-align: right;
  float: right;
}
</style>
