<template>
  <div class="contact-list">
    <h1>LISTA DE CONTACTOS</h1>
    <div v-if="contacts.length === 0">
      <h3>Lista de contactos vacía.</h3>
    </div>
    <div v-else v-for="(contact, index) in contacts" :key="index" class="contact-item">
      <ContactItem
        class="prueba"
        :contact="contact"
        :index="index"
        @seeContact="seeContact"
        @editContact="editContact"
        @deleteContact="deleteContact"
      />
    </div>
    <button @click="newContact" id="new">Nuevo</button>
  </div>
</template>

<script>
import ContactItem from "./ContactItem.vue";

export default {
  name: "ContactList",
  components: {
    ContactItem
  },
  props: {
    contacts: {
      type: Array
    }
  },
  methods: {
    seeContact(receivedId) {
      this.$emit("seeContact", receivedId);
    },
    editContact(receivedId) {
      this.$emit("editContactList", receivedId);
    },
    deleteContact(receivedId) {
      this.$emit("deleteContact", receivedId);
    },
    newContact() {
      this.$emit("newContact");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  color: #bd4545;
}
.contact-list {
  /* padding-top: 2rem; */
  list-style-type: none;
  padding: 1rem 0 0 0; 
  margin-bottom: 2rem;
  width: 40%;
  margin: 0 auto;
  background-color: #D5BAE8;
  border-radius: 1rem;
  /*border: 2px solid black;*/
}
.contact-item {
  margin-bottom: 0.5rem;
  margin: 0 auto;
  padding-left: 1rem;
}
button {
  margin: 2rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 160px;
  background-color: #BD80E8;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
button:hover {
  background-color: rgb(192, 159, 216);
}
</style>
