<template>
  <div id="ContactView">
    <h1>CONTACTO</h1>
    <!-- Hacemos formulario -->
    <p>
      Nombre
      <input
        type="text"
        title="Nombre"
        class="input-name"
        v-model="localContact.name"
        placeholder="Ingrese nombre"
      />
      <a @click="modifyClickViewName" class="btn-modify-name"><img src="../assets/edit.png" alt="" /></a>
      <!-- evento emitido con $, capturamos con @ -->
    </p>

    <p>
      Apellido
      <input
        type="text"
        title="Apellido"
        class="input-surname"
        v-model="localContact.surname"
        placeholder="Ingrese Apellido"
        value="this.contact.surname"
      />
      <a @click="modifyClickViewSurname" class="btn-modify-surmane"><img src="../assets/edit.png" alt="" /></a>
    </p>

    <p>
      Telefono
      <input
        type="text"
        title="Telefono"
        class="input-phone"
        v-model="localContact.phoneNumber"
        placeholder="Ingrese Telefono"
        value="this.contact.phoneNumber"
      />
      <a @click="modifyClickViewPhoneNumber" class="btn-modify-phonenumber"><img src="../assets/edit.png" alt="" /></a>
    </p>

    <p>
      Correo
      <input
        type="text"
        title="Correo"
        class="input-email"
        v-model="localContact.email"
        placeholder="Ingrese Correo"
        value="this.contact.email"
      />
      <a @click="modifyClickViewEmail" class="btn-modify-email"><img src="../assets/edit.png" alt="" /></a>
    </p>
    <button @click="editClickView" class="btn-edit">Guardar</button>
    <button @click="deleteContactView" class="btn-delete" id="deleteContactView">Eliminar</button>
    <button class="btn-back-view" @click="backClickView">Atras</button>
  </div>
</template>

<script>
export default {
  name: "ContactView",
  props: {
    contact: {
      type: Object
    }
  },
  data() {
    return {
      localContact: {
        /*  recibimos los datos null(vacios) */
        id: null,
        name: null,
        surname: null,
        phoneNumber: null,
        email: null
      }
    };
  },
  watch: {
    contact: {
      //Objeto a usar
      immediate: true,
      handler: function(contact) {
        this.localContact = JSON.parse(JSON.stringify(contact));
      }
    }
  },
  methods: {
    deleteContactView() {
      this.$emit("deleteContactViewEvent", this.localContact.id);
    },
    editContact() {
      this.$emit("edit-contact", this.localContact);
    },
    editClickView() {
      this.$emit("editClickViewEvent", this.localContact);
    },
    backClickView() {
      this.$emit("backClickViewEvent");
    },
    modifyClickViewName() {
      this.$emit("modifyClickViewNameEvent", this.localContact);
    },
    modifyClickViewSurname() {
      this.$emit("modifyClickViewSurnameEvent", this.localContact);
    },
    modifyClickViewPhoneNumber() {
      this.$emit("modifyClickViewPhoneNumberEvent", this.localContact);
    },
    modifyClickViewEmail() {
      this.$emit("modifyClickViewEmailEvent", this.localContact);
    }
  }
};
</script>

<style scoped>
#ContactView {
  padding-top: 0.7rem;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 50%;
  margin: 0 auto;
  background-color: #D5BAE8;
  border-radius: 1rem;
}
img {
  width: 30px;
}

button {
  margin: 2rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 160px;
  background-color: #BD80E8;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
button:hover {
  background-color: rgb(192, 159, 216);
}
</style>
