<template>
  <div id="app">
    <!-- <img alt="Contact list logo" src="./assets/logo.png"> -->
    <!-- tres componente ContactList AddContact y ContactView -->
    <ContactList
      v-if="screenState === 'contactListState'"
      :contacts="contactListData"
      @seeContact="seeContact"
      @editContactList="editContactList"
      @deleteContact="deleteContact"
      @newContact="buttonNewContact"
    />
    <AddContact
      v-if="screenState === 'addContactState'"
      @backClickAddEvent="buttonBackContactAdd"
      @saveClickAddEvent="saveContactNew"
    />

    <ContactView
      v-if="screenState === 'contactViewState'"
      :contact="contact"
      @editClickViewEvent="editContactView"
      @edit-create-contact="editContact"
      @deleteContactViewEvent="deleteContact"
      @backClickViewEvent="buttonBackContactView"
      @modifyClickViewNameEvent="modifyNameContactView"
      @modifyClickViewSurnameEvent="modifySurnameContactView"
      @modifyClickViewPhoneNumberEvent="modifyPhoneNumberContactView"
      @modifyClickViewEmailEvent="modifyEmailContactView"
    />
  </div>
</template>

<script>
import ContactList from "./components/ContactList.vue";
import AddContact from "./components/AddContact.vue";
import ContactView from "./components/ContactView.vue";

export default {
  name: "App",
  components: {
    ContactList,
    AddContact,
    ContactView
  },
  data() {
    return {
      contactListData: [],
      baseURL: "http://localhost:8080/api/contacts",
      contactId: 0,
      completeURL: "",
      contact: {},
      list: false,
      state: "",
      action: "editar",
      screenState: "contactListState"
    };
  },
  mounted: function() {
    this.loadContactList();
  },
  methods: {
    async onLoadingPage() {
      this.screenState = "contactListState";
      /*this.contacts = await this.generateContactListData();*/
    },

    async loadContactList() {
      this.list = true;
      this.contactListData = await this.generateContactListData();
    },
    async generateContactListData() {
      const result = await fetch(this.baseURL);
      return await result.json();
    },
    async seeContact(id) {
      this.list = false;
      this.state = "see";
      this.contactId = id;
      this.completeURL = this.baseURL + "/" + this.contactId;
      await this.generateContactData();
      console.log(
        "prueba de seeContact ",
        this.contact.name +
          " " +
          this.contact.surname +
          " " +
          this.contact.phoneNumber +
          " " +
          this.contact.email
      );
      this.screenState = "contactViewState";
    },
    async generateContactData() {
      const result = await fetch(this.completeURL);
      this.contact = await result.json();
      console.log(
        "Nombre completo: ",
        this.contact.name + " " + this.contact.surname
      );
    },
    async editContactList(id) {
      await this.seeContact(id);
    },

    async deleteContact(id) {
      this.contactId = id;
      this.completeURL = this.baseURL + "/" + this.contactId;
      await this.deleteFromList();
      await this.loadContactList();
      this.screenState = "contactListState";
    },
    async deleteFromList() {
      await fetch(this.completeURL, {
        method: "DELETE"
      }).then(response => response.json());
    },

    async buttonNewContact() {
      this.screenState = "addContactState";
    },

    async buttonBackContactAdd() {
      this.screenState = "contactListState";
    },

    async buttonBackContactView() {
      this.screenState = "contactListState";
    },

    async editContactView(contact) {
      this.completeURL = this.baseURL + "/" + contact.id;
      await this.editFromListView(contact);
      await this.loadContactList();
      this.screenState = "contactListState";
    },

    async editFromListView(contact) {
      await fetch(this.completeURL, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(contact)
      }).then(response => response.json());
    },

    async saveContactNew(contact) {
      this.completeURL = this.baseURL;
      await this.saveNewFromList(contact);
      await this.generateContactListData();
      await this.loadContactList();
      this.screenState = "contactListState";
    },

    async saveNewFromList(contact) {
      await fetch(this.completeURL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(contact)
      }).then(response => response.json());
    },

    async modifyNameContactView(contact) {
      this.completeURL = this.baseURL + "/" + contact.id;
      await this.modifyNameFromListView(contact);
      await this.loadContactList();
    },

    async modifyNameFromListView(contact) {
      await fetch(this.completeURL, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ name: contact.name })
      }).then(response => response.json());
    },

    async modifySurnameContactView(contact) {
      this.completeURL = this.baseURL + "/" + contact.id;
      await this.modifySurnameFromListView(contact);
      await this.loadContactList();
    },

    async modifySurnameFromListView(contact) {
      await fetch(this.completeURL, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ surname: contact.surname })
      }).then(response => response.json());
    },

    async modifyPhoneNumberContactView(contact) {
      this.completeURL = this.baseURL + "/" + contact.id;
      await this.modifyPhoneNumberFromListView(contact);
      await this.loadContactList();
    },

    async modifyPhoneNumberFromListView(contact) {
      await fetch(this.completeURL, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ phoneNumber: contact.phoneNumber })
      }).then(response => response.json());
    },

    async modifyEmailContactView(contact) {
      this.completeURL = this.baseURL + "/" + contact.id;
      await this.modifyEmailFromListView(contact);
      await this.loadContactList();
    },

    async modifyEmailFromListView(contact) {
      await fetch(this.completeURL, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: contact.email })
      }).then(response => response.json());
    }
  }
};
</script>

<style>
body {
  background-color: #c452de;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
a:hover {
  color: #5b7896;
}
button {
  margin: 2rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 160px;
  background-color: #BD80E8;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
</style>
